.parent--container {
    position: absolute;
    top:0px;
    left:0;
    margin: 15px;
    font-size: 80%;
    color: #777;
    max-width: 260px;
    font-family: "Open Sans";
    z-index: 999 !important;
}

#gb {
    z-index: 1 !important;
}

.extension--table {
    border: 1px solid #DDD;
    padding: 4px;
    border-radius: 3px;
    margin-top: 2px;
    box-sizing: border-box;
}
.extension--row {
    display: table;
    box-sizing: border-box;
    display: block;
}

.extension--cell {
    display: table-cell;
    padding: 0 4px;
}
.extenstion--cell--text {
    text-align: center;
    position: relative;
    top: -3px;
}

.currency--value {
    font-weight: 600;
    font-size: 110%;
}
.ukeur--logo--margin {
    margin: 0 1px;
}

.news--row { 
    margin-bottom: 6px;
    font-family: "Open Sans"
}

.news--row--separator {
    margin: 0px 0px 5px;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px 0px 0px;
    border-top: 1px solid rgb(238, 238, 238);
    height: 0px;
    box-sizing: content-box;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.news--table {
    max-height: 300px;
    overflow-y: scroll;
    font-size: 115%;
    padding: 7px 3px;
}

.is--new {
    position: relative;
    top: 4px;
    height: 16px;
}

/* unvisited link */
a:link {
    color: rgb(119, 119, 119);
    text-decoration: none;
}

a:visited {
    color: #BBB !important;
    text-decoration: none !important;
}

/* mouse over link */
a:hover {
    color: #3f5068 !important;
    text-decoration: none !important;
}

/* selected link */
a:active {
    color: #3667bc !important;
    text-decoration: underline !important;
}



@keyframes hvr-push {
  97% {
    transform: scale(0.97);
  }

  100% {
    transform: scale(1);
  }
}

.hvr-push {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  animation-name: hvr-push;
  animation-duration: 0.2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}