{
  "presets": [
    ["@babel/preset-react", {
      "runtime": "automatic"
    }],
    ["@babel/preset-env", {
      "useBuiltIns": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    "@babel/plugin-transform-runtime"]
}