@import 'variables';

@keyframes zoominout {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.1,1.1);
    }
    100% {
        transform: scale(1,1);
    }
}

.article {
    a {
        &:hover{
            text-decoration: none;
        }
    }
    padding: 10px 10px 0 10px;
    .title {
        font-family: $font-stack;
        font-size: 1.16em;
        color: dimgrey;
        margin: 0px;
        border-bottom: 1px solid lightgray;
        padding: 8px 0;
        cursor: pointer;
    }
    .thumbnail-container {
        overflow: hidden;
        height: 138px;
        width: 245px;
        img {
            height: 138px;
            width: 245px;
            overflow: hidden;
            transform: scale(1);
            transition: .3s ease-in-out;
    
            &:hover {
                animation: zoominout 0.5s 1;
            }
        }
    }
    .small {
        height: 30px;
        width: 30px;
        float: left;
        margin-right: 10px;
        img {
            width: 30px;
            height: 30px;
        }
    }
}

.article-selected {
    position: absolute;
    top: 139px;
    left: 271px;
    width: 350px;
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px 10px;
    font-family: $font-stack;
    .title-section {
        h2 {
            width: 309px;
            padding-right: 10px;
            display: inline-block;
        }
        img {
            width: 24px;
            display: inline-block;
            position: relative;
            top: -17px;
            user-select: none;
            cursor: pointer;
        }
    }
    p {
        font-size: 1.16em;
        
    }
}