.article {
    padding: 10px 10px 0 10px;
    .title {
        font-family: "Open Sans";
        font-size: 1.1em;
        margin: 0px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        padding-top: 3px;
    }
    .thumbnail-container {
        overflow: hidden;
        height: 138px;
        width: 245px;
        img {
            height: 138px;
            width: 245px;
            overflow: hidden;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
    
            &:hover {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }
    
}