@charset 'UTF-8';
@import 'variables';

.currency-section {
	.extension--table {
        border: 1px solid #DDD;
        padding: 4px;
        border-radius: 4px;
        margin-top: 5px;
        box-sizing: border-box;
        .extension--cell {
            position: relative;
            display: table-cell;
            padding: 0 4px;
            font-family: "Open Sans";
            .extenstion--cell--text {
                text-align: center;
                position: relative;
                top: -3px;
            }
            .currency--value {
                font-weight: 600;
                font-size: 110%;
            }
        }
    }

}