@charset 'UTF-8';
@import 'variables';

.currency-section {
    font-family: $font-stack;
    background-color: white;
	.widget-table {
        border: 1px solid $white-color;
        padding: 4px;
        border-radius: 4px;
        margin-top: 5px;
        box-sizing: border-box;
        height: 30px;
        div {
        	float: left;
        }
        .currency-image {
            height: 22px;
            margin: 0;
        }
        .currency-text {
                text-align: center;
                position: relative;
                top: 3px;
                padding-right: 8px;
                padding-left: 4px;
        }
        .currency-value {
            top: 2px;
            font-weight: 600;
            font-size: 110%;
        }
    }
}