@import 'variables';

.tabs-section {
    margin: 2px 0;
    border: 1px solid lightgrey;
    border-radius: 4px;

    &::-webkit-scrollbar {
        width: 6px;
    }
     
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 1px solid #CCC;
    }
}

.tab-container {
    max-height: 450px;
    overflow-x: hidden;
    background-color: white;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 1px solid #CCC;
    }
}
.Tabs {
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
  }
  
  .Tabs__Tab {
    display: inline-block;
    padding: 0.6em;
    margin: 1px 0 0 1px;
    border-radius: 3px;
    cursor: pointer;
    img {
        height: 19px;
        width: 19px;
    }
  }
  
  .Tabs__Tab:hover {
    background: rgb(234, 244, 255);
    color: white;
  }
  
  .Tabs__Underline {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 2px solid rgb(243, 178, 81);
  }
  .reddit-tabs-section {
    width: 268px;
    .tabs-bar{
        width: 216px;
        display: inline-block;
        .Tabs {
            position: relative;
            display: inline-block;
            height: 25px;
            .Tabs__Tab {
                border: 1px solid white;
                display: inline-block;
                padding: 0.2em;
                margin: 1px 0 0 1px;
                border-radius: 3px;
                cursor: pointer;
                &:hover {
                    background: rgb(234, 244, 255);
                    color: dimgrey;
                  }
              }
              .Tabs__Tab--active{
                  background-color: rgb(234, 244, 255);
                  border: 1px solid #b3d9ff;
              }
          }
          .Tabs__Underline {
            display: none;
          }
    }
    .dropdown-container {
        width: 49px;
        display: inline-block;
        user-select: none;
        .dropdown {
            display: inline-block;
            position: relative;
          }
          
          .dd-button {
            display: inline-block;
            border: 1px solid lightgray;
            border-radius: 4px;
            width: 43px;
            cursor: pointer;
            white-space: nowrap;
            padding: 0.2em;
          }
          
          .dd-button:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            width: 0; 
            height: 0; 
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 3px solid dimgray;
          }
          
          .dd-button:hover {
            background-color: #eeeeee;
          }
          
          
          .dd-input {
            display: none;
          }
          
          .dd-menu {
            width: 43px;
            padding: 0.2em;
            position: absolute;
            top: 100%;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 2px 0 0 0;
            box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
            background-color: #ffffff;
            list-style-type: none;
            z-index: 999;
          }
          
          .dd-input + .dd-menu {
            display: none;
          } 
          
          .dd-input:checked + .dd-menu {
            display: block;
          } 
          
          .dd-menu li {
            cursor: pointer;
            white-space: nowrap;
          }
          
          .dd-menu li:hover {
            background-color: #f6f6f6;
          }
          
          .dd-menu li.divider{
            padding: 0;
            border-bottom: 1px solid #cccccc;
          }
    }
    .reddit-tab-container {
        overflow-y: scroll;
        height: 422px;
        width: 266px;
        &::-webkit-scrollbar {
            width: 6px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 1px solid #CCC;
        }
    }
  }