.tabs-section {
    margin: 2px 0;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.lichess {
    iframe {
        border: 1px solid white;
        padding: 19px;
    }
}
.Tabs {
    position: relative;
    display: inline-block;
    margin-bottom: 3px;
  }
  
  .Tabs__Tab {
    display: inline-block;
    padding: 0.6em;
    margin: 1px 0 0 1px;
    border-radius: 3px;
    cursor: pointer;
    img {
        height: 19px;
        width: 19px;
    }
  }
  
  .Tabs__Tab:hover, .Tabs__Tab--active {
    background: rgb(234, 244, 255);
    color: white;
  }
  
  .Tabs__Underline {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-bottom: 2px solid rgb(243, 178, 81);
  }