$font-stack: Open Sans;
$grey-color: #777;
$white-color: #DDD;
$white2-color: rgb(238, 238, 238);
$darkgrey-color: rgb(119, 119, 119);
$softgrey-color: #BBB;
$softgrey2-color: #CCC;
$background-color: #eee;
$border-color: #d4d4d1;
$background2-color: #fff;
$tabsmenu-color: #AAA;
$blue-color: #2e7da3;

$weather-background-color: rgba(255, 255, 255, 0.05);
$weather-grandiant-color1: rgba(20, 24, 33, 0);
$weather-grandiant-color2: rgba(20, 24, 33, 0.75);
$weather-grandiant-color3:rgba(20, 24, 33, 0);
$weather-font-color: #323D54;
$weather-nav-info-color: rgba(255, 255, 255, 0.4);

