$font-stack: Open Sans;
$grey-color: #777;
$white-color: #DDD;
$white2-color: rgb(238, 238, 238);
$darkgrey-color: rgb(100, 100, 100);
$softgrey-color: #BBB;
$softgrey2-color: #CCC;
$background-color: #eee;
$border-color: #d4d4d1;
$background2-color: #fff;
$tabsmenu-color: #AAA;
$blue-color: #2e7da3;
$left-alignment: 280px;

@mixin respect-dark-mode {
    filter: invert(1);
    mix-blend-mode: difference;
}

