@import 'variables';

.current {
    a {
        text-decoration: none;
        &:link,&:visited,&:hover {
            color: dimgrey;
        }
    }

    height: 57px;
    border: solid 1px lightgray;
    border-radius: 4px;
    margin-top: 2px;
    .weather-icon {
        float: left;
    }
    .summary {
        float: left;
        padding-left: 5px;
        .real {
            position: relative;
            top: 2px;
            font-size: 3.2em;
            .celsius{
                font-size: 0.5em;
                position: relative;
                top: -11px;
                left: -8px;
            }
        }
        .apparent {
            position: relative;
            top: 1px;
            .celsius {
                font-size: 0.7em;
                position: relative;
                top: -2px;
                left: -2px;
            }
        }
    }
    .other {
        display: inline-block;
    }
    .first {
        background-position: -14px -23px !important;
    }
    .cloudy {
        background-position: -87px -23px !important;
    }
    .third {
        background-position: -172px -23px !important;
    }
    .clear-day {
        background-position: -253px -23px !important;
    }
    .snow {
        background-position: -333px -23px !important;
    }
    .rain {
        background-position: -14px -90px !important;
    }
    .partly-cloudy-day {
        background-position: -91px  -90px !important;
    }
    .partly-cloudy-night {
        background-position: -172px -90px !important;
    }
    .clear-night {
        background-position: -253px -90px !important;
    }
    .ten {
        background-position: -333px -90px !important;
    }
    .eleven {
        background-position: -14px -165px !important;
    }
    .twelve {
        background-position: -87px  -165px !important;
    }
    .threteen {
        background-position: -172px -165px !important;
    }
    .fourteeen {
        background-position: -253px -165px !important;
    }
    .sleet {
        background-position: -333px -165px !important;
    }
    .sixteen {
        background-position: -14px -227px !important;
    }
    .seventeen {
        background-position: -87px  -227px !important;
    }
    .fog {
        background-position: -172px -227px !important;
    }
    .wind {
        background-position: -253px -227px !important;
    }
    .twelve {
        background-position: -333px -227px !important;
    }

    .wind {
        float: left;
        margin-left: 7px;
        .label {
            padding-top: 3px;
        }
        img {
            width: 36px;
            position: relative;
            top: 3px;
            left: 8px;
        }
    }
    
    
}