.weather-section {
    height: 57px;
    border: solid 1px lightgray;
    border-radius: 4px;
    margin-top: 2px;
    .weather-icon {
        float: left;
    }
    .summary {
        float: left;
        padding-left: 5px;
        .real {
            font-size: 3em;
            position: relative;
            top: 5px;
            .celsius{
                font-size: 0.5em;
                position: relative;
                top: -11px;
                left: -8px;
            }
        }
    }
    .other {
        display: inline-block;
    }
    .first {
        background-position: -14px -23px !important;
    }
    .partly-cloudy-night {
        background-position: -87px -23px !important;
    }
    .third {
        background-position: -172px -23px !important;
    }
    .forth {
        background-position: -253px -23px !important;
    }
    .fifth {
        background-position: -333px -23px !important;
    }
    
    
    
    
    
    .six {
        background-position: -14px -90px !important;
    }
    .partly-cloudy-day {
        background-position: -91px  -90px !important;
    }
    .eight {
        background-position: -172px -90px !important;
    }
    .nine {
        background-position: -253px -90px !important;
    }
    .ten {
        background-position: -333px -90px !important;
    }
    
    
    
    
    
    .eleven {
        background-position: -14px -165px !important;
    }
    .twelve {
        background-position: -87px  -165px !important;
    }
    .threteen {
        background-position: -172px -165px !important;
    }
    .fourteeen {
        background-position: -253px -165px !important;
    }
    .fithteen {
        background-position: -333px -165px !important;
    }
    
    
    
    
    
    .sixteen {
        background-position: -14px -227px !important;
    }
    .seventeen {
        background-position: -87px  -227px !important;
    }
    .eighteen {
        background-position: -172px -227px !important;
    }
    .nineteen {
        background-position: -253px -227px !important;
    }
    .twelve {
        background-position: -333px -227px !important;
    }
    
    
}