@import 'variables';
@import 'weather';
@import 'currency';
@import 'tabs';
@import 'article';
@import 'lichess';
@import 'reddit';
@import 'slashdot';
@import 'loader';
@import 'weather';
@import 'loader-tabs';
@import 'error';
@import 'tfl';
@import 'button';
@import "map";

.parent-widget-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 15px;
    font-size: 85%;
    color: #777;
    width: 276px; // TODO: What is going on with this?
    font-family: $font-stack;
    z-index: 99999 !important;
    background-color: transparent;
}
