@import 'variables';
@import 'weather';
@import 'currency';
@import 'tabs';
@import 'article';
@import 'lichess';
@import 'reddit';
@import 'slashdot';
@import 'loader';
@import 'weather';

.parent-widget-container {
    position: absolute;
    top:0px;
    left:0;
    margin: 15px;
    font-size: 85%;
    color: #777;
    width: 267px;
    max-width: 267px;
    font-family: $font-stack;
    z-index: 99999 !important;

}
